body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* Custom CSS starts here*/
// "parent classes"
.flex {
    display: flex;
}


.flex-container-row {
    @extend .flex;
    flex-direction: row;
}

.flex-container-column {
    @extend .flex;
    flex-direction: column;
}

.space {
    margin: 1em;
}

.half-space {
    margin: 0.5em;
}

.room-column {
    max-width: 15em;
}

.right-bump {
    margin-right: 1em;
}

.left-bump {
    margin-left: 1em;
}

.top-bump {
    margin-top: 1em;
}

.bottom-bump{
    margin-bottom:1em;
}


.bold-text {
    font-weight: bold
}

 .italics-text{
     font-style:italic;
 }


.reset {
    margin: 0;
    padding: 0;
}
//specific classes

.room-container {
    @extend .flex;
    @extend .space;
}


.left {
    @extend .flex-container-column;
    @extend .space;
}

.right {
    @extend .flex-container-column;
    @extend .space;
    @extend .room-column;
}

.sub-section-header {
    @extend .bold-text;
    @extend .reset;
}

.sub-section-content {

    @extend .space;
}

.encounters {
    @extend .top-bump;
}


.sub-header {
    @extend .italics-text;
    @extend .bold-text;
}

.new-name-container
{
    @extend .bottom-bump;
}




// custom button colors
.btn-dungeon {
    background-color: #c7cdc0;
    border-color: #c7cdc0;
}

.btn-dungeon:hover,
.btn-dungeon:focus,
.btn-dungeon:active,
.btn-dungeon.active {
    background-color: #bac2b2;
    border-color: #aeb6a4;
}

.btn-dungeon.disabled:hover,
.btn-dungeon.disabled:focus,
.btn-dungeon.disabled:active,
.btn-dungeon.disabled.active,
.btn-dungeon[disabled]:hover,
.btn-dungeon[disabled]:focus,
.btn-dungeon[disabled]:active,
.btn-dungeon[disabled].active,
fieldset[disabled] .btn-dungeon:hover,
fieldset[disabled] .btn-dungeon:focus,
fieldset[disabled] .btn-dungeon:active,
fieldset[disabled] .btn-dungeon.active {
    background-color: #c7cdc0;
    border-color: #c7cdc0;
}
